.box-login {
    border: 1px solid #CCC;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgbs(#000, 0.5);
    padding: 30px;
    display: block;
    width: 450px;
    margin: 50px auto;

    img {
        width: 150px;
        display: block;
        margin: 0 auto;
    }

    h1 {
        font-size: 2em;
        margin: 15px 0 20px 0;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    button {
        font-size: 1.5em;
        display: block;
        margin: 30px auto 15px auto;
        padding: 5px 25px;
    }
}