<div class="box-edit-form">
    <header mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
        <h1>{{headerTitle}}</h1>
    </header>

    <form [formGroup]="formEdit" (ngSubmit)="submit()">
        <div class="inline-block">
            <!-- VIEW DATE -->
            <mat-form-field appearance="outline" style="width: 100%; margin: 0">
                <mat-label>Creat Date</mat-label>
                <input matInput
                    [matDatepicker]="viewDate"
                    placeholder="View Date"
                    name="viewDate"
                    formControlName="viewDate"
                    required
                    [(ngModel)]="obj.viewDate">
                <mat-datepicker-toggle matSuffix [for]="viewDate"></mat-datepicker-toggle>
                <mat-datepicker #viewDate></mat-datepicker>
            </mat-form-field>
        </div>

        <!-- Class Name -->
        <div class="inline-block">
            <mat-form-field appearance="outline" style="width: 100%; margin: 0">
                <mat-label>Class Name</mat-label>
                <mat-select [(value)]="obj.class" formControlName="class" required>
                    <mat-option
                        *ngFor="let class of classes"
                        [value]="class">{{ class }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="box-button">
            <button mat-stroked-button type="button" (click)="close(false)">
                <mat-icon>close</mat-icon>
                Close
            </button>

            <button mat-flat-button type="submit" color="primary">
                <mat-icon>check</mat-icon>
                Save
            </button>
        </div>
    </form>
</div>
