<div class="temporal-box" *ngIf="showBox" cdkDrag>
  <div class="content">
    <header cdkDragHandle>
      <h1>Temporal Range</h1>
    </header>

    <button class="btn-close" mat-icon-button (click)="toggleBox()">
      <mat-icon>close</mat-icon>
    </button>


    <mat-form-field appearance="fill" style="width: 40%; margin-left: 4%;">
      <mat-label>Start Date</mat-label>
      <input matInput
             [matDatepicker]="start_date"
             (dateInput)="startDateEvent('input', $event)">
      <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
      <mat-datepicker #start_date></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 40%; margin-left: 8%;">
      <mat-label>Last Date</mat-label>
      <input matInput
             [matDatepicker]="last_date"
             (dateInput)="lastDateEvent('input', $event)">
      <mat-datepicker-toggle matSuffix [for]="last_date"></mat-datepicker-toggle>
      <mat-datepicker #last_date></mat-datepicker>
    </mat-form-field>
    <div style="display: flex;">
      <button appearance="fill" style="width: 40%; margin-left: 4%;"
        mat-stroked-button
        color="accent"
        (click)="reset()">Reset
      </button>

      <button appearance="fill" style="width: 40%; margin-right: 8%;"
        mat-stroked-button
        color="accent"
        (click)="updateOpacityLayers()">Update
      </button>
    </div>
  </div>
</div>


