.container-slider {
    z-index: 999;
    position: absolute;
    padding: 0px 12px 4px 10px;
    bottom: 65px;
    left: 5%;
    right: 5%;
    background: rgba(#FFF, 1);
    border-radius: 9px;
    height: 40px;
    
   
}
::ng-deep {
    .ng5-slider-active:after {
        background-color: #FFF !important;
}
}

@media (max-width: 1024px) {
    .container-slider {
        left: 2%;
        right: 2%;
    }
}