<div class="opacity-class" *ngIf="showBox" cdkDrag>

    <div class="contentC">
        <header cdkDragHandle>
            <h1>Opacity Class</h1>
        </header>

        <button class="btn-close" mat-icon-button (click)="toggleBoxC()">
            <mat-icon>close</mat-icon>
        </button>

        <div class="content_layer" *ngFor="let l of classDeter; trackBy: trackByFn">
            <p>
                {{ l.toUpperCase() }}
            </p>
            <mat-slider
                [max]="10"
                [min]="0"
                [(ngModel)]="classD[l]['opacity']">
            </mat-slider>
        </div>

        <button
            mat-stroked-button
            color="accent"
            (click)="updateOpacityClass()">Update
        </button>
    </div>
  </div>
