@import 'src/assets/styles/toolbar-base.scss';

.title_text {
    display: flex;
    align-items: center;

    a {
        display: flex;
        align-items: center;
        color: #000;
        text-decoration: none;
        margin-right: 5px;
        
        img {
            width: 30px;
            margin-right: 5px;
        }
    }
}