.opacity-btnC {
    position: absolute;
    top: 75px;
    right: 120px;
    border: 2px solid rgba(#000, 0.2);
    border-radius: 5px;
    z-index: 998;

    .iconC {
        width: 44px;
        height: 44px;
        background: #FFF;
        border-radius: 2.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background: rgba(#FFF, 0.9);
        }
    }

}
