  <div class="feature-info-div">

    <div class="layer-content">

      <header mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
        <div class="row layer-header-row">
          <div class="col-md-11">
            <h5 class="modal-title" id="exampleModalLabel">Feature Info</h5>
          </div>
          <div class="col-md-1">
            <button class="btn-close feature-info-close-button" mat-icon-button (click)="close()" id="closeButton">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>

      </header>
      <div id='latlng'>
        <mat-form-field >
          <mat-label>Coordinates</mat-label>
          <div class="row">
            <div class="col-md-10"><input matInput title="Clicked coordinates" value="{{ latlongTxt }}" #coordinates readonly></div>
            <div class="col-md-2"><mat-icon matBadge="15" title="Copy coordinates to clipboard" matBadgeColor="warn" (click)="copyCoordinatesToClipboard(coordinates)" id="copyToClipboardIcon">content_copy</mat-icon></div>
          </div>
        </mat-form-field>
      </div>

      <div *ngIf="layersData.length==0" >
        <br><br>
        No features were found...
        <br><br>
      </div>

      <div class="feature-content" *ngIf="layersData.length>0">

        <div id="accordion">
          <div class="card" *ngFor="let layerData of layersData; let i = index;">
            <div class="card-header" id="heading{{i}}">
              <h5 class="mb-0">
                <div class="row ">
                  <div class="col-md-8">
                    <button class="btn btn-link" data-toggle="collapse" attr.data-target="#collapse{{i}}"
                      attr.aria-expanded="{{ i==0 ? 'true' : 'false'}}" attr.aria-controls="collapse{{i}}">
                      {{ layerData.layerName }}
                    </button>
                  </div>
                  <div class="col-md-4">
                    <div *ngIf="layerData.isDestinationLayer" class="row">
                      <div class="col-md-2">
                        <div id="editFeatureButton" (click)="showEditFeature(layerData.featureId, false, null)" title="Edit Feature Classification"></div>
                      </div>
                      <div (click)="showSplitEditFeature(layerData)" id="showSplitEditFeature" style="display: none;"></div>
                      <div class="col-md-2">
                        <div id="splitFeatureButton" (click)="showSplitFeature(layerData)" title="Split Feature"></div>
                      </div>
                      <div class="col-md-2">
                        <div id="deleteFeatureButton" (click)="showDeleteFeature(layerData.featureId)" title="Delete Feature"></div>
                      </div>
                      <div class="col-md-2">
                        <div id="shapeFeatureButton" (click)="getShapefileById(layerData.layerId, layerData.featureKey, layerData.featureId)" title="Download Feature Shapefile"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </h5>
            </div>

            <div id="collapse{{i}}" class="collapse {{ i==0 ? 'show' : ''}}" attr.aria-labelledby="heading{{i}}"
              attr.data-parent="#accordion">
              <div class="card-body">
                <table class="mat-elevation-z8 table">
                  <tr>
                    <th scope="col" scope="row"> Property </th>
                    <th scope="col"> Value </th>
                  </tr>
                  <tr *ngFor="let featureProperty of layerData.featureProperties">

                    <td scope="row"> {{featureProperty.name}} </td>
                    <td> {{featureProperty.value}} </td>

                  </tr>
                </table>


              </div>
             <div>
        </div>
      </div>
    </div>

  </div>





