<nav>
    <mat-toolbar class="toolbar">
        <mat-toolbar-row class="tol_container">
            <div class="tol_cont-title">
                <div
                    class="title_btn-toggle"
                    (click)="toggleDrawer()">
                    <mat-icon>menu</mat-icon>
                </div>
                <span class="title_text">
                    <a href="http://brazildatacube.dpi.inpe.br" target="_blank">
                        <img src="./assets/images/favicon.png" title="Brazil Data Cube - logo" />
                        BDC
                    </a>
                    - Forest Monitor
                </span>
            </div>

            <button
                mat-icon-button
                *ngIf="logged"
                (click)="logout()"
                class="logout-btn">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</nav>