.temporal-range-btn {
  position: absolute;
  top: 130px;
  right: 10px;
  border: 2px solid rgba(#000, 0.2);
  border-radius: 2.5px;
  z-index: 999;

  .icon {
    width: 44px;
    height: 44px;
    background: #fff;
    border-radius: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: rgba(#fff, 0.9);
    }
  }
}
