<div class="del-feature-info-div">

  <div class="dialog-header">

    <header mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
      <div class="row layer-header-row">
        <div class="col-md-10">
          <h5 class="modal-title" id="exampleModalLabel">Delete Feature</h5>
        </div>
        <div class="col-md-2">
          <button class="btn-close del-feature-info-close-button" mat-icon-button (click)="close(false)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </header>
    <div class="dialog-content">
      <div class="row ">
        <div class="col-md-12">
          <br>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-5">
          <button mat-raised-button color="primary" (click)="del()" id="delButton">
            Confirm
          </button>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-5">

          <button mat-raised-button color="basic" (click)="close(false)">
            Cancel
          </button>
        </div>
      </div>

    </div>

  </div>
</div>
